{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">OMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Добавление заказа</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/crud/delete_order">Удаление заказа</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/crud/get_order">Поиск заказа</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/crud/get_all_orders">Отображение всех заказов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Изменение статуса заказа</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Расчет выручки за смену</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block header %}{{ header }}{% endblock %}

<!-- Подключаем django-crispy-forms -->
{% load crispy_forms_tags %}

{% block content %}

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <br>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<br>
<br>
<br>
{% endblock %}